<div class="no-style" style="margin-left: 4px; margin-right: 4px;">
    <div class="container">
        <h1>User Form</h1>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="model.name"
              name="name"
              #name="ngModel"
            />
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div>
          </div>
  
          <div class="form-group">
            <label for="age">Age</label>
            <!-- <input type="number" class="form-control" id="age"> -->
              <input
                type="number"
                class="form-control"
                id="age"
                [(ngModel)]="model.age"
                name="age"
              />
          </div>
  
          <div class="form-group">
            <!-- <label for="sexes">User sex</label>
            <select class="form-control" id="sex" required>
              <option *ngFor="let sex of sexes" [value]="sex">{{sex}}</option>
            </select> -->
            <label for="sex">User gender</label>
            <select
              class="form-control"
              id="sex"
              required
              [(ngModel)]="model.sex"
              name="sex"
              #power="ngModel"
            >
              <option *ngFor="let se of sex" [value]="se">{{ se }}</option>
            </select>
            <div
              [hidden]="sex.valid || sex.pristine"
              class="alert alert-danger"
            >
              Gender is required
            </div>
          </div>

          <div class="form-group">
            <!-- <label for="razes">User raze</label>
            <select class="form-control" id="raze" required>
              <option *ngFor="let raze of razes" [value]="raze">{{raze}}</option>
            </select> -->
            <select
              class="form-control"
              id="razes"
              required
              [(ngModel)]="model.razes"
              name="razes"
              #power="ngModel"
            >
              <option *ngFor="let raze of razes" [value]="raze">{{ raze }}</option>
            </select>
            <div
              [hidden]="razes.valid || razes.pristine"
              class="alert alert-danger"
            >
              Raze is required
            </div>
          </div>
  
          <!-- <button type="submit" class="btn btn-success">Submit</button> -->
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!heroForm.form.valid"
          >
            Submit
          </button>
  
        </form>
    </div>