<div class="no-style" style="margin-left: 4px; margin-right: 4px;">
    <div class="container">
        <h1>User Form</h1>
        <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              id="name"  
              type="text"
              class="form-control"
              required
              formControlName="name"
            />
          </div>
  
          <div class="form-group">
            <label for="age">Age</label>
              <input
                id="age"
                type="number"
                class="form-control"
                required
                formControlName="age"
              />
          </div>
  
          <div class="form-group">
            <label for="sex">User gender</label>
            <select
              id="sex"
              class="form-control"              
              required
              formControlName="sex"
            >
              <option *ngFor="let se of sex" [value]="se">{{ se }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="razes">User raze</label>
            <select 
                id="raze"
                class="form-control"
                required 
                formControlName="raze">
              <option *ngFor="let raze of razes" [value]="raze">{{raze}}</option>
            </select>            
          </div>
  
          <!-- <a routerLink="/home"> -->
            <button type="submit" class="btn btn-success">Submit</button>
          <!-- </a>   -->
        </form>
    </div>